.cost_page {
    background-color: var(--COLOR-BG-SECTION);
}

.cost_page__head-block {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 100px 20px;
    text-align: center;
}

.cost_page__head-block-products {
    border: 1px solid var(--COLOR-BG-CARD-BORDER);
    border-radius: .75rem;
    background-color: var(--COLOR-BG-CARD-COST);
    padding: 15px 10px;
    width: 240px;
    box-shadow: 10px 5px 20px var(--COLOR-BG-CARD-SHADOW);
}

.cost_page__btn-products {
    text-transform: uppercase;
    background-color: var(--COLOR-BG-BTN-COST);
    margin-top: 25px;
}

.btn__cost-width {
    width: 150px;
    height: 39px;
}

.cost_page__title {
    font-family: 'Titillium Web', sans-serif;
    color: var(--COLOR-HEAD-TITLE);
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 0;
}

.cost_page__title-text {
    font-family: 'Titillium Web', sans-serif;
    color: var(--COLOR-HEAD-TITLE);
    font-size: 14px;
    padding: 0 15px;
}

.cost_page__block-title {
    margin-bottom: 10px;
}

@media screen and (min-width: 767px) {
    .cost_page__head-block {
        flex-direction: row;
        justify-content: space-around;
        gap: 0;
    }

    .cost_page__head-block-products {
        width: 280px;
    }

    .cost_page__title {
        font-size: 30px;
    }

    .cost_page__title-text {
        font-size: 16px;
        padding: 0 5px;
    }

    .cost_page__head-block-products {
        padding: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .cost_page__head-block-products {
        width: 320px;
    }

    .cost_page__title {
        font-size: 34px;
    }

    .cost_page__title-text {
        font-size: 18px;
        padding: 0 10px;
    }

    .cost_page__head-block-products {
        padding: 50px 30px;
    }

}