.courses {
    background-color: var(--COLOR-BG-SECTION-LIGHT);
}

.courses__block {
    padding: 45px 20px;
}

.card {
    width: 18rem;
}

.courses__head-title {
    padding: 0 0 30px;
}

.courses__btn-block {
    margin: 25px 0 0;
}

.courses__btn {
    background-color: var(--COLOR-BG-BTN);
    color: var(--COLOR-BG-SECTION-LIGHT);
    border: none;
    cursor: pointer;
}

.courses__btn:hover {
    background-color: var(--COLOR-BG-BTN-BORDER);
}

.courses__carousel-title-block {
    display: block !important;
}

.courses__carousel-img {
    height: 500px;
    object-fit: contain;
}

.courses__block-card {
    display: none;
}

@media screen and (min-width: 485px) {
    .courses__carousel-icon {
        background-color: var(--COLOR-BG-BTN);
    }
}

@media screen and (min-width: 767px) {
    .courses__block-card {
        display: flex;
        justify-content: space-around;
    }

    .courses__block-card-three {
        display: none;
    }

    .courses__block-carousel {
        display: none;
    }

    .courses__block-card-img {
        height: 430px;
        object-fit: contain;
    }
}

@media screen and (min-width: 992px) {
    .courses__block-card-three {
        display: block;
    }

    .courses__block {
        padding: 45px 40px;
    }
}